*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppings', sans-serif;
}


:root {
    --background-color: #a28089;
    --body-color: #fff;
    --text-color: #e5eaf5;
    --attributes: #8458B3;
    --mid-purple: #d0bdf4;
    --types: #a0d2eb;

}
body{
    display: flex;
    flex-direction: column;
    background-color: var(--mid-purple);;
    color: var(--text-color);;
    align-items: center;
    padding: 10px;
}

#title{
    color: var(--text-color);
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#container{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 25vw;
    padding: 20px;
    background-color: #393E46;
    color: white;
    box-shadow: 10px 10px 10px #222831;
    border-radius: 10px;
}
form{
    display:grid;
    grid-template-rows:1fr 2fr;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "label label "
    "input button";
    ;
}

#label{
    grid-area: label;
    text-align: center;
    font-size: 16px;
    padding-bottom: 10px;
    margin-bottom: 2px;
}

#search-input{
    grid-area: input;
    padding: 10px;
    border: 1px solid #ccc;
    height: 40px;
    width: 90%;
    border-style: none;
}
#search-button{
    grid-area: button;
    border-radius: 15px;
    border-style: none;
    height: 40px;
    width: 100px;
    align-self: right;

}
#search-button:hover{
    background-color: var(--attributes);
    font-weight: bold;;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

#pokemon-text-info {
    display: grid;
    grid-template-rows:0.5fr 0.5fr 2fr 1fr; ;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "pokemon-name pokemon-id"
    "height pweight"
    "sprite sprite"
    "types types";
    background-color: #5A6072;
    color: var(--types);
    width: auto;
    height: auto;
    margin-top: 15px;
    padding: 20px;
    gap: 5px;


}
#pokemon-id{
    grid-area: pokemon-id;
    text-align: left;
    align-self: center;
}

#weight{
    grid-area: pweight;
    text-align: left;
    margin-left: -50px;
}

#height{
    grid-area: height;
}
#sprite{
    grid-area: sprite;
    width: auto;
    height: auto;
    align-self: center;
    justify-self: center;
}

#types{
    grid-area: types;
    width: auto; /* Adjusted width to fit within #pokimon-text-info */
    padding: 5px;
    border-radius: 10px;
    box-sizing: border-box; /* Added to include padding/border in width */
}

/* Style for the stats table */
#stats-table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

#stats-table td {
    background-color: #5A6072;
    padding: 8px;
    border: 5px solid #393E46;
    gap: 5px;


}
.cell-stats {
    text-align: center;
}